<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/Sauvegarder/' + *{id}}">
<table border="1" cellpadding="10">
  <th>Nom : </th>
  <th>Prenom : </th>
  <th>Email : </th>
  <th>Date De Reservation : </th>
  <th>Date De Retour : </th>
  <tr>
    <td><input type="text" name="Nom" value=""></td>
    <td><input type="text" name="Prenom" value=""></td>
    <td><input type="text" name="Email" value=""></td>
    <td><input type="text" name="DateReservation" value=""></td>
    <td><input type="text" name="DateRetour" value=""></td>
  </tr>
  <tr>
    <td colspan="6" style="text-align: center"><a><input type="submit" name="button" value="Reserver"></a>  </td>
  </tr>
</table>
</form>
</body>
</html>